html, body {
    margin: 0px;
}

body {
    background-color: #aaa;
}

h1, h2 {
    font-family: sans-serif;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 0px;
}

h2 {
    margin-top: 0px;
    color: #777;
    font-style: italic;
    font-size: 1.2em;
}

div#game-wrapper, div#instructions {
    text-align: center;
}

canvas#game {
    margin: 3em;
    display: inline-block;
    background-color: white;
    border: #777 2px solid;
}

h1#unsupported-browser {
    font-color: red;
}
